.navDark {
  background: #1f363d;
}

.nav-link {
  color: rgb(216, 216, 216) !important;
}

.nav-link.active,
.nav-link:hover {
  color: #fdd86a !important;
}

.subComponent {
  padding: 50px 0px;
}

.subComponent-lg {
  padding: 80px 0px;
}
